*
{
	margin: 0px;
	padding: 0px;
}

.moveon
{
	transform: translateY(-1600px);
	/*background-color: rgba(0,0,0,0.5);*/
}






#tanchuang
{
	transition: all 0.5s;
}
#anniu
{
	transition: all 0.5s;
}
.erweimaone
{
	width: 450px;
	height: 450px;
	opacity: 0;
}
.tanchuerweima
{
	opacity: 1;
	transition: all 0.5s;
}
.xiaoshi
{
	display: none;
}
#saomiao
{
	opacity:0;
}
.tanchuerweimahaha
{
	opacity:1;
	transition: all 0.5s;
	}
.tanchuqqdenglu
{
	opacity: 1;
	/*transition: all 0.5s;*/
}