#signal
{
	height: 30px;
	background-color: whitesmoke;
	display: flex;
	justify-content: space-between;
}
.signSubDiv
{
	height: 100%;
	/*width: 30px;*/
}
#leftSign ul li
{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	border: 1px solid black; 
	margin-left: 3px;
}
#leftSign ul
{
	list-style: none;
	display: flex;
	margin-left: 5px;
}
#leftSign
{
	flex: 0.4;
	display: flex;
	align-items: center;
}
#centerSign
{
	flex: 0.2;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rightSign
{
	flex: 0.4;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.haveSign
{
	background-color: black;
}
#leftSign span
{
	font-size: 14px;
	margin-left: 5px;
}
#leftSign img
{
	margin-left: 5px;
}
.signSubDiv img
{
	width: 23px;
	height: 20px;
}
#chongdian
{
	width: 18px;
	height: 16px;
}
